<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--
        行为参数，name:参数名，value：参数值，
        默认为false，true：开启驼峰匹配，可以在SQL语句上面 实体类属性userName == 数据库字段user_name
         -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

</configuration>